@font-face{
  font-family: 'Plus Jakarta Sans';
  src:url(../assets/PlusJakartaSans-2.6/PlusJakartaSans-Regular.woff);
  }
  @font-face{
  font-family: 'Plus Jakarta Sans Bold';
  src:url(../assets/PlusJakartaSans-2.6/PlusJakartaSans-Bold.woff);
  }
  @font-face{
  font-family: 'Plus Jakarta Sans Semi Bold';
  src:url(../assets/PlusJakartaSans-2.6/PlusJakartaSans-SemiBold.woff);
  }
  @font-face{
  font-family: 'Plus Jakarta Sans Extra Bold';
  src:url(../assets/PlusJakartaSans-2.6/PlusJakartaSans-ExtraBold.woff);
  }
  @font-face{
    font-family: 'Plus Jakarta Sans Medium';
    src:url(../assets/PlusJakartaSans-2.6/PlusJakartaSans-Medium.woff);
    }
  body {
  font-family: 'Plus Jakarta Sans';
  line-height: 1.0;
  background-color: #FBFBFD;
  }
  .ff-normal{
  font-family: 'Plus Jakarta Sans';
  }
  .ff-sbold{
  font-family: 'Plus Jakarta Sans Semi Bold';
  }
  .ff-ebold{
  font-family: 'Plus Jakarta Sans Extra Bold';
  }
  .ff-bold{
  font-family: 'Plus Jakarta Sans Bold';
  }
  .ff-medium{
  font-family: 'Plus Jakarta Sans Medium';
  }
  .font-w-400{
  font-weight: 400!important;
  }
  .font-w-600{
  font-weight: 600!important;;
  }
  .font-16-500{
    font-size:16px!important;
    font-family: 'Plus Jakarta Sans Medium';
    text-transform: uppercase!important;
    font-weight: 500;
  }
  .font-16-600{
    font-size:16px!important;
    font-family: 'Plus Jakarta Sans Semi Bold';
    font-weight:600;
  }
  .n-gray{color: #64748B;
  }
  h1,h2{
  line-height: 60px;
  }
  .letter-s-n{
  letter-spacing:normal!important;
  }
  h3,h4,h5,h6{
  font-family: 'Plus Jakarta Sans';
  }
  .w3-uc{
  text-transform: uppercase!important;
  }
  .font-18{  font-size:18px!important;}
  .font-36{ font-size:36px!important;}
  .font-28{font-size:28px!important;}
  .font-14{font-size:14px!important;}
  .font-16{font-size: 16px!important;}
  .font-12{font-size:12px!important;}
  .font-15{font-size:15px!important;}
  .font-20{font-size:20px!important; }
  .font-22{font-size:22px!important;}
  .font-26{font-size:26px!important; }
  .font-42{font-size:42px!important;}
  .font-24{ font-size: 24px !important;}
  .font-58{font-size:58px!important;}
  .font-30{font-size:30px!important;}
  .line-h-30{line-height:30px!important;}
  .line-h-15{line-height:15px!important;}
  p{font-family: 'Plus Jakarta Sans'; }
  .w3-padding-64-top{ padding-top:64px!important;}
  .w3-padding-64-bottom{
  padding-bottom:64px!important;
  }
  .margin-left-10{
  margin-left:10px!important;
  }
  .main-style{
  margin-left:250px;min-height:100vh;
  }
  .mpm-lbl-col{color: #575757!important;}
  .setting-lbl-text{color:#828181!important;}
  html{
  scroll-behavior: smooth;
  }
  h1{
  font-size:50px!important;
  }
  .test-info-lbl{
  color: #999999 !important;
  }
  .test-info-lb{
  color: #242424 !important;
  }
  .w3-sidebar{
  z-index:3;width:250px;
  padding-bottom:30px;
  }
  .top-course-text{
  font-size:18px;
  line-height:22px;
  }
  .w3-border-rad-10{
  border-radius: 5px;
  }
  .w3-border-rad-8{
  border-radius: 8px;
  }
  .w3-auto{
  margin: auto!important;
  }
  ::placeholder {
  color: #ccc !important;
  font-size:16px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc  !important;
  padding-left:8px;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc !important;
  padding-left:8px;
  }
  .footer-logo  p{
  font-size: 24px!important;
  }
  .padding-left{
  padding-left:5px!important;
  }
  .padding-right{
  padding-right:5px!important;
  }
  .margin-top-20{
  margin-top:20px!important
  }
  .icon-bar-2 {
  margin-left: auto;
  margin-right: auto;
  }
  .icon-bar-2 a {
  display: inline-block;
  text-align: center;
  padding:10px;
  width:40px;
  height:40px;
  border-radius:50%;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  margin-top:3px;
  }
  .icon-bar-2 a:hover {
  background-color: white;
  color:#5460AD;
  }
  .info-text-gray{color:rgba(31, 31, 31, 0.44);}
  /*icon bar*/
  .facebook {
  background-color: #5460AD ;
  color: white;
  } 
  .twitter {
  background-color: #5460AD ;
  color: white;
  }
  .instagram {
  background-color: #5460AD ;
  color: white;
  }
  .linkedin {
  background-color: #5460AD ;
  color: white;
  }
  .youtube {
  background-color: #5460AD ;
  color: white;
  }
  /*overlay images*/
  .containerr {
  position: relative;
  width: 100%;
  }
  .containerr  .image {
  display: block;
  width: 100%;
  height:200px;
  background:white;
  object-fit:cover;
  }
  .overlayy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:rgba(0,0,0,0.7);
  border-radius:20px;
  cursor:pointer;
  }  
  .containerr:hover .overlayy {
  opacity: 1;
  }
  .w3-padding-top-100{
  padding-top:100px;
  }
  .padding-40-center{
  text-align: center!important;
  padding: 40px 0px 40px 0px!important;
  }
  .containerr .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }
  .edu-p-text{
  font-size:15px;
  line-height:26px!important;
  }
  .width-20{
  width:20px;
  }
  .dot-style{
  width:10px;height:10px;border-radius:50%;
  margin-top:3px;
  }
  .w3-border-radius-20{
  border-radius:20px;
  }
  .w3-padding-40-bottom{
  padding-bottom: 40px;
  }
  .main-col{
  color:#5460AD !important;
  }
  .main-col-bg{
  background-color:#5460AD !important;
  }
  .sidebar-bg{
  background: #F2F6FC!important;
  }
  .header-small-text{
  line-height: 28px!important;
  font-size: 18px!important;
  }
  .text-col{
  color: #080416!important;
  }
  .cat-con-style{
  background:white;transform:translateY(-17px);border-radius:20px;
  }
  .catalog-text{
  font-size:13px;
  line-height:16px;
  }
  .cat-img-style{width:100%;height:200px;border-radius:20px 20px 0px 0px!important;}
  /*navigation style E5E5E5*/
  .bg-gray{background: linear-gradient(100.2deg, #EEEFF7 3.9%, #E7FEF9 97.98%);}
  .bg-light-gray{background: #F7F8F9!important;
  }
  .jumbotron {
  background: linear-gradient(100.2deg, #EEEFF7 3.9%, #E7FEF9 97.98%);
  color: #fff;
  padding: 120px 0px 80px 0px;
  font-family: 'Plus Jakarta Sans';
  margin-bottom: 0!important;
  }
  .margin-top-bot{
    margin:100px 0px 60px 0px!important;
  }
  .w3-border-rad-8{
  border-radius:5px;
  }
  .container-fluid {
  padding: 0px 50px;
  }
  .font-w-700{
  font-weight: 700!important;
  }
  .w3-padding-16-top{
  padding-top:16px;
  }
  .w3-padding-32-top{
  padding-top:32px;
  }
  .w3-padding-48-top{
  padding-top:48px;
  }
  .menu-vr-line{
  width:1.5px;height:45px;background:#b9b9b9;margin-top:-10px;
  }
  .navbar {
  background: linear-gradient(100.2deg, #EEEFF7 3.9%, #E7FEF9 97.98%);
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  font-weight: 700;
  border-radius: 0;
  font-family: 'Plus Jakarta Sans';
  padding:12px 0px 0px 0px;
  }
  .navbar-transparent{
  background: none!important;
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  font-weight: 700;
  border-radius: 0;
  font-family: 'Plus Jakarta Sans';
  padding:12px 0px 0px 0px;
  }
  .navbar-nav  {
  margin-left: 5%!important;
  }
  .navbar-transparent .navbar-nav>li>a{
  color: #fff!important;
  padding: 0px 0px 5px 20px !important;
  margin:15px 15px 15px 5px;
  }
  .navbar-default .navbar-nav>li>a{
  color:#080416;
  padding: 0px 0px 5px 20px !important;
  margin:15px 15px 15px 5px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
  color: #5460AD  !important;
  background:transparent;
  }
  .navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
  background-color:#5460AD  !important;
  }
  footer {
  background-color:#F2F6FC;
  }
  .font-size-35{
  font-size:35px;
  }
  .w3-padding-right-30{
  padding-right: 30px;
  }
  .w3-margin-bottom-15{
  margin-bottom:16px;
  }
  .w3-margin-bottom-25{
  margin-bottom: 25px;
  }
  /*Gradient Button*/
  .text-grad-test{
  font-weight: 700;
  background: linear-gradient(to right, #5460AD 0%, #27F4CD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .text-grad{
  font-weight: 700;
  background: linear-gradient(to right, #5460AD 0%, #27F4CD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .btn-grad {
  padding: 14px 0px;
  text-align: center;
  color: white;            
  border-radius: 8px;
  display: inline-block;
  border:none;outline:none;
  cursor:pointer;
  font-size:18px;
  background-image: linear-gradient(to right, #5460AD  0%, #27F4CD  61%);
  width:100%;
  }
  .btn-grad:hover{
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);
  }
  .bg-grad2{
  background-image: linear-gradient(to right, #5460AD  0%, #27F4CD  100%);
  }
  .bg-grad{
  background:#5460AD;
  }
  .bg-grad:hover{
  background-image: linear-gradient(to right, #5460AD  0%, #27F4CD  100%);
  }
  .btn-grad2:hover{
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);
  }
  .btn-grad-price-w {
  padding: 14px 30px;
  text-align: center;
  background-size: 200% auto; 
  background:color;      
  border-radius: 5px;
  display: block;
  border:none;outline:none;
  cursor:pointer;
  font-size:18px;
  width:100%;
  background-image: linear-gradient(to right, #5460AD  0%, #27F4CD  61%);
  }
  .btn-grad-price-w:hover {
  background-image: linear-gradient(to right,  #27F4CD 0%, #5460AD  61%);
  }
  .btn-grad-price {
  padding: 14px 0px;
  text-align: center;
  background-size: 200% auto; 
  background:color;      
  border-radius: 5px;
  display: block;
  border:none;outline:none;
  cursor:pointer;
  font-size:18px;
  width:100%;
  }
  .btn-grad-price:hover{
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);
  }
  .btn-grad-ca {
  padding: 12px 0px;
  text-align: center;
  background-color: transparent!important;
  background-size: 200% auto;
  color: #5460AD;            
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  display: inline-block;
  border:none;outline:none;
  cursor:pointer;
  font-size:18px;
  border:2px solid #5460AD;
  width: 100% !important;;
  }
  .btn-grad-ca:hover{
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);
  border:none;
  padding: 14px 0px;
  color:#fff;
  }
  .w3-padding-10{
  padding:10px 0px 10px 0px;
  }
  .btn-nav-border{
  padding: 7px 28px 7px 28px;
  text-align: center;
  transition: 0.5s;        
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border:none;outline:none;
  cursor:pointer;
  font-size:13px; 
  margin:6px 0px 0px 0px;
  border:2px solid #5460AD ;
  color:#5460AD;
  background-color: transparent;
  }
  .btn-nav-login{
  padding: 12px 20px 12px 20px;
  text-align: center;
  color: white;            
  border-radius: 50px;
  display: block;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:16px; 
  margin:6px 0px 0px 0px;
  }
  a{
  text-decoration: none!important;
  }
  .btn-dash-manu{
  padding: 12px 18px 12px 18px;
  text-align: center;
  color: white;            
  border-radius: 5px;
  border:none;
  outline:none;
  cursor:pointer;
  margin:10px 0px 5px 0px;
  font-weight: 400!important;
  }
  .btn-learn-more{
  padding: 6px 18px 6px 18px;
  text-align: center;
  color: white;            
  border-radius: 5px;
  border:none;
  outline:none;
  cursor:pointer;
  margin:10px 0px 5px 0px;
  }
  .btn-cancel{
  border:none;
  outline:none;
  padding:10px 34px;
  border-radius:5px!important;
  font-weight: 600;
  color:white;
  font-size:16px!important;
  text-align: center;
  color: #f44336;                 
  cursor:pointer;
  border:2px solid #f44336;
  background:none;
  }
  .btn-cancel:hover{
  background:#f44336;
  color:#fff;
  }
  .btn-done{
  padding: 12px 32px 12px 32px;
  background: none !important;;
  text-align: center;
  color: #22bb2c;            
  border-radius: 5px;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:18px; 
  margin:10px 0px 5px 0px;
  font-weight: 400!important;
  border:2px solid #22bb2c;
  }
  .btn-done:hover{
  color: white!important;            
  background: #22bb2c !important;;
  }
  .btn-nav-manu{
  padding: 10px 42px 12px 42px;
  text-align: center;
  color: white;            
  border-radius: 5px;
  display: block;
  border:none;
  outline:none;
  cursor:pointer; 
  margin:-12px 0px -5px 0px;
  width:100%;
  }
  .btn-nav{
  padding: 12px 20px 12px 20px;
  text-align: center;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:16px; 
  margin:6px 0px 0px 0px;
  }
  .btn-form{
  text-align: center;
  transition: 0.5s;
  color: white;            
  border-radius: 8px;
  display: block;
  border:none;outline:none;
  cursor:pointer;
  font-size:16px; 
  }
  .btn-form:hover{ background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);}
  /*Home-Search-Bar*/
  .wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  padding-top:20px;
  max-width: 500px;margin:auto;
  padding:10px;
  }
  .search {
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  padding: 2px 0px 2px 20px;
  outline: 0;
  background-color: #ede9fb;
  }
  .search-icon {
  position: absolute;
  top: 5px;
  right: 8px;
  background:#5460AD;
  padding:10px 25px;
  outline:none;
  border:none;
  color:white;
  border-radius:10px;
  font-size:16px;
  }  
  .search:hover, .search:focus {
  border: 1px solid #009688;
  background-color: white;
  }
  .w3-padding-right-20{
  padding-right:40px!important;
  }
  .w3-padding-left-20px{
  padding-left:200px!important;
  }
  @media only screen and (max-width: 380px) {
  .notification-bg {
  margin:-5px 0px 0px 15px!important;
  }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    h1,h2{
      line-height: 40px;
      }
    #checkout .font-16-500, .font-16-600{
      font-size:14px!important;
    }
    #checkout .font-14{
      font-size:11px!important;
    }
    #checkout .font-16{font-size: 14px!important;}
    #checkout .flex-SB{
flex-direction: row!important;
    }
  .pay-btn{
  margin-left: 0px!important;
  }
  .test-btn-ssl{
  margin-left: 0px!important;
  }
  .search-btn{
  margin-left: 0px!important;
  }
  h1{
  font-size:28px!important;
  }
  h4.font-20{
  font-size: 16px!important;
  }
  .font-42{
  font-size: 24px!important;
  }
  h5.font-16{
  font-size:12px!important;
  }
  .font-30{
  font-size:24px!important;
  }
  .font-25{font-size:22px!important;}
  p.font-24{
  font-size:18px!important;
  }
  .padding-left{
  padding-left:0px!important;
  }
  .w3-modal-content{margin:0 0px!important;width:auto!important}
  .padding-right{
  padding-right:0px!important;}
  .dropdown-content {
  min-width: 330px!important;
  overflow: auto;
  z-index: 999999;
  right: 0px !important;;
  }
  .flex-SB{
  display:flex;flex-direction: column;
  }
  .padding-t-b{
  padding:20px 20px 20px 20px!important;
  }
  .crousal-top{
  top: 300px !important;;
  }
  .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;	
  }
  .box{
  width: 100%;
  height: 55px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 20px;
  }
  .box > i {
  font-size: 20px;
  color: #777;
  }
  .box > input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 0px;
  }
  .box > button{
  padding:14px 20px!important;
  }
  .box > button:hover{
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);
  }
  .logo-img-style{  
  margin-top:-21px;  
  padding:5px 0px 5px 0px!important;
  }
  .navbar-toggle{
  margin-top:4px!important;
  background-color:#5460AD  !important;
  }
  .mask-image{
  width:100%!important;
  }
  .logo-img-style{  
  margin-top:-21px!important;  
  padding:5px;
  }
  .footer-text-16{
  font-size:14px;
  padding:0px 5px 0px 5px;
  }
  .f-h4{
  text-align: left;
  }
  .footer-logo{
  width:50%;
  }
  .flex-row{
  display:flex;
  min-height: 100% !important;;
  flex-wrap: nowrap!important;
  overflow-x: auto!important;
  }
  .flex-row .width-70{
  width:0%!important;
  display: none;
  }
  .flex-row .width-30{
  width:100%!important;
  display: block;
  }
  .logo-sl{
  width:50px!important; height:50px!important;
  }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  .w3-padding-40-lr{
  padding:0px 60px 0px 60px;
  }
  .certificate-padding{
  padding:0px 75px 0px 75px;
  }
  .flex-row{
  display:flex;min-height:100%;
  margin-left:auto!important;
  margin-right: auto!important;
  }
  .crousal-top{
  top: 220px !important;;
  }
  .flex-row .width-70{
  width:0%!important;
  display: none;
  }
  .flex-row .width-30{
  width:100%!important;
  display: block;
  }
  .logo-sl{
  width:50px!important; height:50px!important;
  }
  .active-nav{
  color: #5460AD !important;
  }
  .navbar-toggle{
  margin-top:4px!important;
  background-color:#5460AD  !important;
  }
  .logo-img-style{  
  margin-top:-21px;  
  padding:5px 0px 5px 0px!important;
  }
  .crypto{
  text-align: center;
  }
  .logo-img-style{  
  margin-top:-22px!important;  
  padding:5px;
  }
  .menu-vr-line{
  display:none;
  }
  .footer-logo{
  width:80%;
  }
  .w3-padding-40-inst{
  padding:60px 5px 0px 5px;
  }
  .footer-p-text{
  line-height: 25px;
  }
  .signup-text{
  font-size:18px!important;
  }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {  .active-nav{
  color: #5460AD !important;
  }
  .flex-row{
  display:flex;
  min-height:100%;
  margin-left:auto!important;
  margin-right: auto!important;
  }
  .flex-row .width-30{
  width:50%!important;
  display: block;
  }
  .flex-row .width-70{
  width:50%!important;
  display: block;
  }
  .footer-logo{
  width:60%;
  }
  .padding-top-80{
  padding-top:40px;
  }
  .menu-vr-line{
  display:block;
  }
  .logo-img-style{    
  margin-top: -20px!important;
  padding:5px;
  }
  .w3-padding-40-inst{
  padding:0px 25px 0px 5px;
  }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {  
  .flex-row{
  display:flex;
  min-height:100%;
  margin-left:auto!important;
  margin-right: auto!important;
  }
  .flex-row .width-30{
  width:50%!important;
  display: block;
  }
  .flex-row .width-70{
  width:50%!important;
  display: block;
  }
  .active-nav{
  color: #5460AD !important;
  }
  .crypto{
  text-align: left;
  }
  .padding-top-80{
  padding-top:30px!important;
  }
  .logo-img-style{    
  margin-top: -18px!important;
  padding:5px;
  }
  .w3-padding-40-inst{
  padding:20px 20px 0px 20px;
  }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {  .active-nav{
  color: #5460AD !important;
  }
  .flex-row{
  display:flex;min-height:100%;
  }
  .flex-row .width-70{
  width:70%!important;
  display: block;
  }
  .flex-row .width-30{
  width:30%!important;
  display: block;
  }
  .w3-padding-40-inst{
  padding:50px 100px 0px 100px;
  }
  .padding-top-80{
  padding-top:80px!important;
  }
  .logo-img-style{    
  margin-top: -19px!important;
  padding:5px;
  }
  }
  @media only screen and (min-width: 1500px) {  .active-nav{
  color: #5460AD !important;
  }
  .w3-padding-40-inst{
  padding:50px 180px 0px 180px;
  }
  }
  /*horizontal list b*/
  .horizontal-list-b ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
  .horizontal-list-b ul li  {
  display: inline-block;
  color: white;
  text-align: center;
  margin:0px 0px 0px 0px;
  text-decoration: none;
  }
  .horizontal-list-b ul li:nth-child(2) {
  margin:0px 0px 0px 20px;
  }
  /*Horizontal user list*/
  .horizontal-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
  .horizontal-list ul li  {
  display: inline-block;
  color: white;
  text-align: center;
  margin:10px 0px 10px -15px;
  text-decoration: none;
  }
  .horizontal-list ul li:nth-child(1) {
  margin:10px 0px 10px 0px;
  }
  .horizontal-list ul li:nth-child(4) {
  margin:10px 0px 10px 10px;
  }
  .horizontal-list ul li a:hover {
  background-color: #111111;
  }
  .list-img-style{
  width:50px;height:50px;
  border:2px solid #ffff;
  border-radius:50%;
  }
  .slide-img-style{
  width:70px;height:70px;
  border:2px solid #ffff;
  border-radius:50%;
  }
  .w3-content-2{
  margin-left: auto;
  margin-right: auto;
  max-width:680px;
  }
  .service-img{
  width:50%;
  }
  .mask-image{
  width:100%;
  }
  .padding-top-80{
  padding-top:80px;
  }
  .course-text{
  line-height: 40px!important;
  font-size: 25px!important;
  }
  .logo-img-style{    
  width:160px;
  height:50px;
  }
  .logo2{    
  width:55px;
  height:67px;
  margin-top: -28px!important;
  padding:5px;
  }
  .w3-padding-40{
  padding:40px 0px 55px 0px!important;
  }
  .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;	
  }
  .box{
  width: 100%;
  height: 55px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 20px;
  }
  .box > i {
  font-size: 20px;
  color: #777;
  }
  .box > input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  width:100%;
  }
  .box > button{
  margin:0px -3px 0px 0px;
  padding:15px 40px;
  }
  .box > button:hover{
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%);
  }
  @media (min-width: 767px) and (max-width: 992px) { 
  .navbar-nav  {
  margin-left: 0px!important;
  }
  .w3-padding-top-100{
  padding-top:150px!important;
  }
  .text-center-res{text-align: center!important;}
  .float-right-copy{
  float: right !important;
  padding-top: 40px !important;;
  }
  .crousal-top{
  top: 260px !important;
  }
  .w3-image-header{
  float:none!important;
  }
  .right{
  display:inline-block;width:auto
  }
  .flex-container {
  display: flex;
  justify-content:space-between; 
  flex-wrap: wrap;
  flex-direction: column-reverse;
  }
  .flex-container > div {
  color:black;
  text-align: center;
  margin-top:30px;
  }
  }
  @media only screen and (max-width:767px){
    #checkout .font-16-500, .font-16-600{
      font-size:15px!important;
    }
    #checkout .font-14{
      font-size:12px!important;
    }
    #checkout .font-16{font-size: 15px!important;}
    #checkout .flex-SB{
flex-direction: row!important;
    }
  .navbar-nav  {
  margin-left: 0px!important;
  }
  .container-fluid {
  padding: 0px 20px;
  }
  .text-res{display:inline-block;width:auto;text-align: center!important;}
  .float-right-copy{
  float: right !important;
  padding-top: 40px !important;
  }
  .w3-padding-40-lr{
  padding:0px 0px 0px 0px!important;
  }
  .text-center-res{text-align: center!important;}
  .certificate-padding{
  padding:0px 18px 0px 18px!important;
  }
  .middle {
  position: absolute;
  width:100%;
  text-align: center;
  padding:0px 20px 0px 20px !important;
  }
  .navbar-transparent  .navbar-collapse {
  max-height: 340px;
  background: linear-gradient(to right, #27F4CD 0%,  #5460AD 100%)!important;
  border-radius:10px!important;
  }
  .search-form{
  border:none;
  outline:none;
  border-radius:5px!important;
  width:100%;
  font-size:14px!important;
  }
  #courses h4{
  padding-top:5px;
  }
  .margin-top-20-sc{
  margin:30px 0px;
  }
  .w3-image-header{
  float:none!important;
  }
  .right{
  display:inline-block;width:auto
  }
  .payment-flex-con{
  display:flex;
  flex-direction: column;
  }
  .w3-modal-two{
  padding-left:25px!important;
  padding-right:25px!important;
  }
  .w3-modal{
  padding-left:20px!important;
  padding-right:20px!important;
  }
  #educate, .white-circle, .green-circle{
  text-align: center;
  }
  .pd-tick-list-text{
  text-align: left;
  font-size:12px!important;
  }
  .active-nav{
  background-color: #5460AD !important;
  color:white!important;
  padding:10px!important; 
  border-radius: 8px;
  }
  .text-centered{
  text-align:center;
  }
  .navbar-default .navbar-nav>li>a{
  color:#080416;
  padding: 10px 10px 9px 0px !important;
  margin:16px 15px 15px 5px!important;
  }
  .navbar-transparent .navbar-nav>li>a{
  color: #fff!important;
  padding: 10px 10px 9px 0px !important;
  margin:16px 15px 15px 5px!important;
  }
  .btn-nav{
  padding: 12px 20px 12px 20px;
  text-align: center;
  transition: 0.5s;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border:none;outline:none;
  cursor:pointer;
  font-size:16px; 
  margin:6px 0px 0px 16px!important;
  }
  .signup-text{
  font-size:18px;
  line-height:22px;
  text-align: center;
  }
  .footer-p-text{
  text-align: center;
  line-height: 35px;
  }
  .footer  .footer-text-16{
  font-size:14px;
  text-align: center!important;
  }
  .navbar-toggle .icon-bar{
  background-color: white!important;
  }
  #crypto .price-style {
  padding-top:5px!important;
  }
  .icon-bar-2,#instructor,.name-style{
  text-align:center!important;
  }
  .course-text{
  text-align:center;
  }
  footer h4{
  text-align: center!important;
  padding-top:40px!important;
  }
  #email h2{
  text-align: center;
  }
  .w3-center-logo{
  display:inline-block!important;width:auto!important;
  text-align:center!important;
  }
  .flex-container {
  display: flex;
  justify-content:space-between; 
  flex-wrap: wrap;
  flex-direction: column-reverse;
  }
  .flex-container > div {
  color:black;
  text-align: center;
  margin-top:30px;
  }
  .edu-img-style{
  width:40px!important;height:80px!important;
  position: absolute;top:-30px!important;left:120px!important;
  }
  }
  #dashboard-carousal .carousel .carousel-indicators li.active {background-color: #27F4CD;border:1px solid #27F4CD}
  .carousel .carousel-indicators li.active {background-color: #35199a;border:1px solid #35199a}
  .carousel .carousel-indicators li {background-color: #b9b9b9;}
  #crousal p{
  line-height:20px;
  }
  /*footer*/
  .flex-container {
  display: flex;
  justify-content:space-between; 
  flex-wrap: wrap;
  }
  .flex-container > div {
  color:black; 
  font-size: 24px !important;;
  font-weight: 400!important;
  }
  .edu-img-style{
  width:55px;height:120px;
  position: absolute;top:-50px;left:110px;
  }
  .margin-top-bot{
  margin:40px 0px 40px 0px;
  }
  /*accordion*/
  /*product details container overlay*/
  .container-pd {
  position: relative;
  width: 100%;
  }
  .container-pd  .image {
  display: block;
  width: 100%;
  height:200px;
  background:white;
  object-fit:cover;
  }
  .overlay-pd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:rgba(0,0,0,0.7);
  border-radius:20px;
  cursor:pointer;
  }  
  .container-pd .overlay-pd {
  opacity: 1;
  }
  .container-pd .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }
  .w3-margin-top-acc{
  margin-top:10px;
  }
  .margin-top-2{
  margin-top:-2px;
  }
  /*accordion*/
  span.ml-15{
  margin-left:15px;
  }
  .pd-circle{
  width:10px;
  height:10px;
  background:black;
  border-radius: 50%;
  margin: 4px 0px 0px 2px;
  }
  .pd-list-text{
  font-size:18px;
  margin-left:-5px;
  color:black;
  }
  .pd-tick-circle{
  width:28px;
  height:28px;
  border-radius: 50%;
  margin: -4px 0px 12px 2px;
  padding:6px 6px 7px 7px;
  }
  .pd-tick-list-text{
  margin-left:-5px;
  color:black;
  font-size: 18px;
  }
  .green-circle{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: white;
  font-size:32px;
  padding:15px 16px 10px 15px;
  font-weight: bold;
  display:inline-block;
  }
  .white-circle{
  width:50px;
  height:50px;
  border-radius: 50%;
  background-color: white;
  font-size:32px;
  padding:10px 16px 10px 15px;
  font-weight: bold;
  display:inline-block;
  }
  .w3-padding-top-70{
  padding-top:70px;
  }
  .margin-t-b{
  margin-bottom:8px;
  font-weight: bold;
  }
  .margin-t-5{
  padding-top:-5px;
  }
  .padding-t-b{
  padding:20px 20px 20px 20px;
  }
  .font-size-12{
  font-size:12px;
  }
  .font-size-12-agt{
  font-size:12px;
  line-height: 22px;
  margin-left:7px;
  }
  .close-circle{
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: #5460AD;
  padding:6px 0px 0px 9px;
  font-weight: bold;
  display:inline-block;
  cursor: pointer;
  position: absolute;top:10px;right:10px;
  }
  .close-circle:hover{background-color:black;}
  .close-circle i{
  font-size:16px;
  color:white;
  }
  .btn-100{
  border-radius:50px;width:100%;
  }
  .top-m-14{
  margin-top:14px;
  }
  .w3-border-rad{
  border-radius:50px;
  }
  .padding-top-100{
  padding:120px 0px 60px 0px;
  }
  .google-btn-col{
  background-color: #0b0422;
  }
  .google-icon{
  width:18px;height:18px;
  }
  .col-no-padding
  {
  padding-left: 0 !important;
  padding-right: 0 !important;
  }
  .payment-flex-con{
  display:flex;
  }
  .flex-1{
  flex:1;
  }
  .w3-redd{
  color:#5460AD!important;
  }
  .w3-bar button:hover{
  padding-bottom:8px;
  color: #5460ad !important;;
  }  .w3-bar button{
  padding: 0px 0px 8px 0px !important;
  margin:0px 8px 0px 0px !important;
  }
  .payment-img-style{
  width:55px;height:35px;
  }
  .chat-icon {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 40px;
  right: 15px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  }
  .chat-icon  .chat-icon-style{
  width:55px;height:55px;
  }
  .w3-image-header{
  width:50%;
  float:right;
  }
  .w3-padding-60-tb{
  padding:60px 0px 15px 0px!important;
  }
  .right{
  float:left;
  }
  .service-img{
  width:35%;
  }
  .about-img{
  width:20%;
  }
  .dep-img{
  width: 110px !important;;
  height: 110px !important;;
  }
  hr{
  width:100%;height:1px;background:#ccc;
  }
  .w3-padding-top-50{
  padding:40px 0px 20px 0px;
  }
  .footer-logo{
  width:200px;
  height:50px;
  }
  .carousel-control.left {
  background-image: none!important; 
  background-image: none!important;
  background-image: none!important; 
  background-image: none!important; 
  /* background-repeat: repeat-x; */
  }
  .carousel-control.right {
  background-image: none!important; 
  background-image: none!important;
  background-image: none!important; 
  background-image: none!important; 
  /* background-repeat: repeat-x; */
  }
  /*test-ssl page*/
  .bgimg {
  background-image: url('../images/ClapSSL/test-ssl-bg.png');
  min-height: 100vh!important;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  font-size: 25px;
  color: #fff;
  padding: 120px 0px 80px 0px;
  font-family: 'Plus Jakarta Sans';
  }
  .bgimg1 {
  background:#fff;
  min-height: 100vh!important;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  font-size: 25px;
  color: #fff;
  font-family: 'Plus Jakarta Sans';
  }
  .middle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
  }
  .topleft {
  position: absolute;
  top: 8%;
  left:25px;
  }
  .bottomleft {
  position: absolute;
  bottom: 30px;
  left:25px;
  }
  .bottomleft1 {
  position: absolute;
  bottom: 30px;
  }
  .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
  .search-form{
  border:none;
  outline:none;
  padding:14px 10px 15px 20px;
  height:39.5px;
  border-radius:5px!important;
  width:100%;
  }
  .search-form::placeholder{
  color: rgba(0, 0, 0, 0.4)!important;
  font-size:16px!important;
  font-weight: 400;
  }
  .test-btn-ssl{
  border:none;
  outline:none;
  padding:8.2px 0px;
  border-radius:5px!important;
  width:100%;
  margin-left: 5px;
  }
  .confirm-btn{
  border:none;
  outline:none;
  padding:12px 34px;
  border-radius:5px!important;
  font-weight: 600;
  color:white;
  font-size:16px!important;
  }
  .pay-btn{
  border:none;
  outline:none;
  padding:9.5px 0px;
  border-radius:5px!important;
  width:100%;
  margin-left: 5px;
  }
  .tab {
  overflow: hidden;
  }
  .tablinks{
  background:none;
  float: left;
  border: none!important;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 16px;
  color:#7F7D7D!important;
  margin-bottom: 10px!important;
  font-weight: 400!important;
  }
  .tab button.activee {
  color: #5460AD!important;
  }
  /* Style the buttons inside the tab */
  .w3-input-sl{
  width:100%;
  height:41px;
  border:none;
  outline:none;
  background:#F2F2F2;
  border-radius: 5px;
  color:#080416;
  padding: 0px 0px 0px 10px!important;;
  }
  .w3-input-sl::placeholder{
  font-size: 16px;
  color:#3a3939!important; 
  }
  .w3-input-mpm{
  width:100%;
  height:41px;
  border:none;
  outline:none;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  color:#080416;
  padding: 0px 0px 0px 10px!important;;
  }
  .w3-input-mpm::placeholder{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.58)!important;
  }
  textarea{
  background:#F2F2F2!important;
  border: none !important;;
  }
  /* Style the tab content */
  .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  }
  /* Style the close button */
  .topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
  }
  .topright:hover {color: #5460AD;}
  .logo-sl{
  width:80px;
  height:80px;
  }
  .sl-text{
  font-size:16px;
  text-align: left;
  max-width:400px;
  line-height:25px;
  }
  .text-gray{color: #636363 !important;}
  .text-gray-mpm{
  color:#7F7D7D!important;
  }
  /*circle*/
  .notification-bg {
  background-color: rgb(240, 238, 238)!important;
  color: white;
  text-decoration: none;
  width:55px!important;
  height:55px!important;
  padding:15px;
  border:none;
  border-radius: 50%; 
  cursor: pointer;
  margin:-5px 0px 0px 35px;
  position: relative;
  }
  .bar-bottom-notif{
  border-bottom: 1px solid #5460AD;
  display:inline-block;
  }
  .notification:hover {
  background: #eaf5f3;
  color:#fff;
  }
  .icon-style{
  font-size: 22px !important;;
  color: black !important;;
  }
  .badge-circle{
  position:absolute;right:8px;top:10px;width:16px;height:16px;border-radius: 50%;
  font-size:11px;padding-top:2px;
  }
  /*circle*/
  .notif-style{
  width:50px;height:50px;background: rgb(240, 238, 238);
  }
  .circle-container{
  border-radius:50%;position:relative;
  margin:auto;
  }
  .circle-style{
  width:50px;height:50px;background: #27F4CD;
  }
  .display-container{
  border-radius:50%;position:relative;
  }
  .circle-width{
  width:60px;height:60px;
  }
  .circle-absolute{
  position:absolute;
  left:50%;top:50%;
  transform:translate(-50%,-50%);
  }
  .notif-count-absolute{
  position:absolute;
  left:50%;
  top:50%;
  margin:-7px 0px 0px 10px;
  transform:translate(-50%,-50%);
  width:17px;
  height:17px;
  border-radius: 50%;
  padding:1px;
  }
  .w3-sidebar::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color:#fff;
  border-radius: 2px;
  }
  .w3-sidebar::-webkit-scrollbar {
  width: 9px;
  border-radius: 2px;
  }
  .w3-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5460AD;
  }
  #w3-bar-block  > a:hover, #w3-bar-block > span:hover{
  background:#fff!important;
  color:#5460ad!important;
  border-radius:8px;
  width:225px!important;
  margin:0px 0px 0px 8px;
  }
  .bar-active{
  background:#fff!important;
  color:#5460ad!important;
  border-radius:8px;
  width:225px!important;
  margin:0px 0px 0px 8px; 
  }
  #w3-bar-block-s  > a:hover, #w3-bar-block-s > span:hover{
  background:#fff!important;
  color:#5460ad!important;
  border-radius:8px;
  width:225px!important;
  margin:0px 0px 0px 8px;
  }
  .dashboard-logo{
  width:80%;
  }
  .certificate-search{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
  background-image: url('../images/ClapSSL/certi-search.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 6px 20px 11px 40px;
  }
  .certificate-search::placeholder{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45)!important;
  margin-top:19px!important;
  font-weight: 600;
  }
  .w3-margin-top-30{
  margin-top:32px;
  }
  .total-cert{
  width:50px;height:50px;
  background: rgba(192, 245, 240, 0.55);
  border-radius: 50%;
  }
  .w3-padding-8{padding-top:8px!important;padding-bottom:8px!important}
  .third-col{color:#27F4CD}
  ul.w3-ul > li{
  background:#F2F6FC!important;
  font-size:19px;
  color:black;
  margin-bottom:35px;
  }
  ul.w3-ul > li a{
  text-decoration: underline!important;
  }
  ul.w3-ul > li a:hover{
  text-decoration: underline!important;
  color:#111111!important;
  }
  ul.w3-ul > li p{
  line-height:10px;
  font-size: 16px;
  }
  .w3-green-vbg{
  background-color: rgba(30, 177, 6, 0.08);
  border-radius:20px;
  padding:8px 8px;
  color: #1EB106;
  width:175px;
  text-align: center;
  }
  .w3-green-ssl{
  background-color: rgba(30, 177, 6, 0.08);
  border-radius:5px;
  padding:8px 16px!important;
  color: #1EB106;
  }
  .w3-red-ssl{
  background-color: #FFF0F0;
  border-radius:5px;
  padding:8px 16px!important;
  color: #F44C4C;
  }
  .width-150px{
  width: 100px !important;;
  }
  .w3-green-text-vbg{
  color: #1EB106!important;
  }
  .text-light-gray{color: rgba(0, 0, 0, 0.4)}
  .w3-red-pbg{
  background-color: rgba(244, 76, 76, 0.08);
  border-radius:20px;
  padding:8px 8px;
  width:175px;
  text-align: center;
  color: #F44C4C;
  }
  .flex-container-server {
  display: flex;
  padding:100px 0px 100px 0px;
  align-items: center;
  height:auto;
  flex-direction: column;
  }
  .w3-table-all td {
  border: none !important;;
  vertical-align: middle;
  }
  .w3-image-50{width:120px;width:120px;height:auto;}
  /*Notification Dropdown*/
  .dropdown {
  position: relative;
  }
  .dropdown-content {
  display: none;
  position: absolute;
  background:#fff;
  min-width: 400px;
  overflow: auto;
  z-index: 999999;
  right:25px;
  top:80px;
  border-radius:8px;
  text-align: left;
  }
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}
  .notif-list-style{
  padding:15px 10px;
  vertical-align: middle;
  }
  .w3-underline{
  border-bottom:1px solid black;
  padding-top:6px;
  }
  .w3-underline-sm{
  border-bottom:1px solid #5460AD;
  padding-top:6px;
  }
  .notif-active{background-color: #eaf5f3;}
  .border-bottom{
  border-bottom:1px solid #ccc;
  }
  p{
  margin:10px 0px !important;
  line-height: 20px;
  }
  .notif-list-img{
  width:55px;height:55px;
  }
  .w3-padding-bottom-10{
  padding-bottom: 10px;
  }
  /*svg icons*/
  /*category*/
  .icon-category {
  background-image: url(../images/ClapSSL/svg/category-black.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  }
  .w3-bar-item:hover  .icon-category {
  background-image: url(../images/ClapSSL/svg/category.svg);
  }
  .icon-category-active {
  background-image: url(../images/ClapSSL/svg/category.svg);
  }
  /*document*/
  .icon-document {
  background-image: url(../images/ClapSSL/svg/document-text-black.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  }
  .w3-bar-item:hover  .icon-document{
  background-image: url(../images/ClapSSL/svg/document-text.svg);
  }
  .icon-document-active {
  background-image: url(../images/ClapSSL/svg/document-text.svg);
  }
  /*cloud-connection*/
  .icon-cloud-connection {
  background-image: url(../images/ClapSSL/svg/cloud-connection-black.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  }
  .w3-bar-item:hover  .icon-cloud-connection{
  background-image: url(../images/ClapSSL/svg/cloud-connection.svg);
  }
  .icon-cloud-connection-active {
  background-image: url(../images/ClapSSL/svg/cloud-connection.svg);
  }
  /*deployments*/
  .icon-discount {
  background-image: url(../images/ClapSSL/svg/discount-shape-black.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  }
  .w3-bar-item:hover  .icon-discount{
  background-image: url(../images/ClapSSL/svg/discount-shape.svg);
  }
  .icon-discount-active {
  background-image: url(../images/ClapSSL/svg/discount-shape.svg);
  }
  /*driver*/
  .icon-driver {
  background-image: url(../images/ClapSSL/svg/driver-black.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  }
  .w3-bar-item:hover  .icon-driver{
  background-image: url(../images/ClapSSL/svg/driver.svg);
  }
  .icon-driver-active {
  background-image: url(../images/ClapSSL/svg/driver.svg);
  }
  /*setting*/
  .icon-setting {
  background-image: url(../images/ClapSSL//svg/vuesax/linear/setting-2-black.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  }
  .w3-bar-item:hover  .icon-setting{
  background-image: url(../images/ClapSSL/svg/vuesax/linear/setting-2.svg);
  }
  .icon-setting-active {
  background-image: url(../images/ClapSSL/svg/vuesax/linear/setting-2.svg);
  }
  .w3-bar-item{
  color:#818181;
  font-weight: 600;
  }
  .icon {
  display: inline-block;
  vertical-align: middle;
  }
  /*table style*/
  .w3-table th:first-child, .w3-table td:first-child, .w3-table-all th:first-child, .w3-table-all td:first-child {
  padding-left: 0px!important; 
  }
  /*payment tabs*/
  /* Style the tab */
  .payment {
  overflow: hidden;
  }
  /* Style the buttons inside the tab */
  .payment button {
  background-color: #fff!important;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  margin: 3px 3px;
  font-size: 17px;
  border-radius:5px;
  padding:3px 5px;
  }
  /* Change background color of buttons on hover */
  .payment button:hover {
  border:2px solid #22bb2c;
  border-radius:5px;
  }
  /* Create an active/current tablink class */
  button.paymentActive {
  border:2px solid #22bb2c!important;
  border-radius:5px!important;
  }
  button.checkoutActive {
    border:2px solid #22bb2c!important;
    border-radius:5px!important;
    }
  button.paymentActive1 {
  border:2px solid #22bb2c;
  border-radius:5px;
  }
  button.checkoutActive{
    border:2px solid #22bb2c!important;
    border-radius:5px!important;
  }
  /* Style the tab content */
  .paymentContent {
  display: none;
  padding: 6px 3px;
  border: none;
  border-top: none;
  }
  .paymentContent1 {
  display: none;
  padding: 6px 3px;
  border: none;
  border-top: none;
  }
  .test-icon{
  width:30px; height:30px;
  }
  .fail-icon{
  height:30px;
  width:25px;
  }
  .margin-top{
  margin-top: 8px !important;;
  }
  .width-50px{
  width: 50px !important;;
  }
  #test-results .w3-bar > .w3-bar-item{
  padding: 0px !important;
  }
  .tab .active::before {
  content:'\203A';
  padding-right:8px;
  font-size: 20px!important;
  }
  .tab .active{
  color: #1F1F1F !important;
  font-weight: 600!important;
  }
  .flex-SB{
  display:flex;justify-content: space-between;
  }
  .bg-2 {
  background-color: #5460AD;
  }
  label{
  font-weight: 400!important;
  color: #111 !important;
  margin-bottom: 10px!important;
  margin-top:10px!important;
  }
  .w3-bar-ep{display:inline-block;width:auto}
  .w3-bar-ep .w3-bar-item-ep{float:left;width:auto;border:none;display:block;outline:0}
  .font-w-500{
  font-weight: 500!important;
  }
  select{
  cursor:pointer;
  }
  .justify-SB{
  display:flex;
  justify-content: space-between; 
  }
  /*Switch*/
  .switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  }
  .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  }
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  }
  .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  input:checked + .slider {
  background-color: #5460AD;
  }
  input:focus + .slider {
  box-shadow: 0 0 1px #5460AD;
  }
  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
  border-radius: 34px;
  }
  .pd-style{
  line-height: 23px;margin-left:10px;
  font-size: 15px!important;
  font-weight: 600!important;
  }
  .slider.round:before {
  border-radius: 50%;
  }
  /*lang dropdown*/
  .lang-style{
  width:100px;border-bottom:none;color:#5460AD;background:#F7F8F9;
  margin-top:5px;
  background-size: 15px;
  font-weight: 600;
  }
  .w3-card{
  box-shadow: 0px 2.04497px 40.8994px rgba(0, 0, 0, 0.07)!important;
  }
  .placholder-col{color: rgba(0, 0, 0, 0.45);
  font-size:14px!important;
  padding-top:2px;
  font-weight: 600;
  }
  #tbl-certificate .w3-table  th h4{
  font-size:18px!important;
  text-transform: uppercase!important;
  }
  #tbl-certificate .w3-table  td p{
  font-size:16px!important;
  }
  #tbl-certificate .w3-table  td p a{
  font-size:14px!important;
  }
  #w3-bar-block .w3-bar-item{
  font-size:16px;
  font-weight: 400;
  }
  #w3-bar-block .bar-active{
  font-size:16px;
  font-family: 'Plus Jakarta Sans Semi Bold';
  }
  #w3-bar-block-s .w3-bar-item{
  font-size:16px;
  font-weight: 400;
  }
  #w3-bar-block-s .log-text-red:hover, .log-text-red{
  color: #F93737 !important;
  }
  .w3-border-red{
  border:2px solid #F93737;
  }
  .circle-1-bg{
  background: #F93737!important;
  }
  .circle-2-bg{
  background: #364FCC!important;
  }
  .circle-3-bg{
  background-color: #55A9F4!important;
  }
  .padding-add-server{
  padding:32px 20px 64px 32px;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent!important;
  color: #5460AD!important;
  }
  .w3-hover-grey:hover{
  background-color: #5460AD!important;
  color:#ffffff!important;
  }
  .w3-padding-120{margin-top:120px;margin-bottom: 60px!important;}
  @media only screen and (max-width: 1200px){
    
    .justify-FE{
      display: flex!important;
      justify-content: space-between!important;
    }
    .justify-FE div{
      padding:0px 0px 0px 0px!important;
    }
  }
  @media only screen and (max-width: 1200px){
    
   .justify-FE{
    display: flex!important;
    justify-content: space-between!important;
  }
  .justify-FE div{
    padding:0px 0px 0px 0px!important;
  }
  }
  .justify-FE{
    display: flex;
    justify-content: flex-end;
  }
 
  .justify-FE > div:nth-child(1){
    margin-top:5px!important;
    padding-right:15px!important;
  }
  /* The radio-container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top:3px;
  margin-bottom:20px!important;
  cursor: pointer;
  color:black;
  font-family: 'Plus Jakarta Sans Semi Bold';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #ffffff;
  border:2px solid #5460AD;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 3px;
	left: 2.3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #5460AD;
}

/*custom scrolll bar*/
.scroll-bar {
  overflow-y: scroll;
  max-height: 180px;
  width: 100%;
  padding: 10px;
  text-align: justify;
  border-radius:5px;
}
.scroll-bar::-webkit-scrollbar {
  width:5px;
}
.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow:inset inset 0 0 15px #5460AD; 
  border-radius:5px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 15px #5460AD; 
}
/*file upload btn style*/
a:focus {
  outline: none !important;
  outline-offset: none !important;
}
body {
  background: #f5f6f5;
  color: #333;
}
/* helper classses */
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-top: 20px;
}
.no-margin {
  margin: 0px;
}
/* box component */
.box {
  border-color: #e6e6e6;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 40px;
}
.box-center {
  margin: 20px auto;
}
/* input [type = file]
----------------------------------------------- */
input[type="file"] {
  display: block !important;
  right: 1px;
  top: 1px;
  height: 34px;
  opacity: 0;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;

}
.control-fileupload {
  display: block;
  border: 1px solid #d6d7d6;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px 2px 10px;
  overflow: hidden;
  position: relative;
  /* File upload button */
  
}
.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
  cursor: pointer !important;
}
.control-fileupload:before {
  /* inherit from boostrap btn styles */
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #5460AD!important;
border-radius: 5px;
  background-repeat: repeat-x;
outline:none;
  /* add more custom styles*/
  content: "Browse";
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  line-height: 24px;
  text-align: center;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
  background: linear-gradient(to right, #5460AD 0%, #27F4CD 100%);
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -15px;
}
.control-fileupload label {
  line-height: 14px;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  margin-right: 60px;
  margin-bottom: 40px;
  cursor: text;
}
.file-upload{
  border: 2px dashed  #94A3B8;
  padding:50px 50px;
  border-radius: 5px;
}
/*checkout*/


#checkout ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#checkout ul li {
  border: 1px solid #94A3B8;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffffff;
  padding: 8px 15px;
}
/*LOGS*/
.flex-start {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.flex-start > div {
  color: black;
  margin:10px 20px 10px 0px;
}
.error-text-col{color: #F87171;
}
.margin-left-5{
  margin-left:5px!important;
}
/*certificate detail*/
.accordion {
 
  color: #7F7D7D;
  cursor: pointer;
  padding: 15px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.1s;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans';
  margin-right: 8px;
}
button.accordion{
  background-color: transparent;
}
.ac-active{color: black !important;}
.panell {
  padding: 0 29px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
 
}
.text-n-g{color:#64748B;
}
